{% extends './templates/base_templates.html' %}
{% block title %}
    My Cart
{% endblock %}
{% block content %}
    <div id="successMessage" class="hidden bg-green-200 text-green-800 px-4 py-2 rounded-md mt-4">
        Order Placed successfully!
    </div>
    <div class="container mx-auto py-8" id="cart-container">


    </div>

{% endblock %}

{% block scripts %}
    <script>
        function fetchCarts() {
            fetch(`/api/cart/`)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    totalPage = data.total_pages;
                    showCarts(data.results);
                })
                .catch(error => console.error('Error fetching products:', error));
        }

        function showCarts(carts) {
            const cartContainer = document.getElementById('cart-container');
            cartContainer.innerHTML = '';
            carts.forEach(cart => {
                const row = `<div class="p-4 max-w-xl mx-auto mt-16">
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <div class="flex items-center justify-between px-4 py-3 bg-gray-200">
                    <h1 class="text-lg font-bold">Shopping Cart</h1>
                    <span class="text-gray-600">(${cart.quantity} items)</span>
                </div>
                <div class="p-4">
                    ${cart.cart_item.map(item => {
                    return `<div class="flex items-center mb-4">
                        <img class="h-16 w-16 object-contain rounded-lg mr-4" src="${item.product.image ? item.product.image : ''}"
                    alt="Product">
                    <div class="flex-1">
                    <h2 class="text-lg font-bold">${item.product.name}</h2>
                    <span class="text-gray-600">${item.product.price}</span> x ${item.quantity}
                    </div>
                    <span class="text-gray-600">${item.total_price}</span>

                    </svg>
                    </button>
                    </div>`

                })}
                                </div>
                                <div class="px-4 py-3 bg-gray-200">
                                    <div class="flex justify-between items-center">
                                        <span class="font-bold text-lg">Total:</span>
                                        <span class="font-bold text-lg">${cart.total_price}</span>
                                    </div>
                                    <button class="block w-full mt-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" onclick="submitOrder(${cart.id})">
                                        Checkout
                                    </button>
                                </div>
                            </div>
                        </div>

                    `;
                cartContainer.innerHTML += row;
            });

        }


        // add to cart
        function submitOrder(cartId) {
            const csrftoken = getCookie('csrftoken');
            fetch('/api/order/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    cart: cartId,
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to add Checkout');
                    }
                    console.log('Order Placed Successfully');
                    fetchCarts();
                    showSuccessMessage();
                    
                })
                .catch(error => console.error('Error Placing order:', error));
        }

        window.addEventListener('load', () => {
            fetchCarts();
        });
    </script>
{% endblock %}
