{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 ">
<!-- Header Section Starts -->
{% include 'header.html' %}
<!-- Header Section Starts -->

<!-- sidebar Starts -->
{#{% if user.is_authenticated %}#}
{#    {% include 'sidebar.html' %}#}
{#{% endif %}#}
<!-- sidebar Section Starts -->
{% block content %}


{% endblock %}

<!-- scrips Section Starts -->
{% block scripts %}

{% endblock %}
</body>

</html>
