{% load static %}

<!-- Menu Top Section -->
<div class="flex w-full bg-gray-900 py-3">
    <div class="container mx-auto px-4">
        <div class="flex justify-between text-white">
            <a href="{% url 'shop:shopping_template' %}" class="font-semibold text-xl">Multi Vendor</a>
            <div class="flex gap-4 text-md">
                {% if user.is_authenticated %}
                    {% if user.user_type == "seller" %}
                        <a class="px-2 p-1 hover:bg-gray-200 active:bg-gray-300" href="">Inventory</a>
                    {% else %}
                        <a class="px-2 p-1 hover:bg-gray-200 active:bg-gray-300"
                           href="{% url 'shop:my_cart_template' %}">Cart</a>
                    {% endif %}
                    <a href="{% url 'user:logout' %}"
                       class="px-2 p-1 hover:bg-gray-200 active:bg-gray-300">Logout</a>
                {% else %}
                    <a href="{% url 'user:auth' %}"
                       class="px-2 p-1 hover:bg-gray-200 active:bg-gray-300">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>