{% load static %}

<div class="flex h-screen w-1/5">
    <!-- Sidebar -->
    <aside class="bg-gray-800 text-gray-400 w-64 flex-shrink-0">
        <div class="p-4">
            <ul>
                <li class="mb-2 ">
                    <a href="#" class="flex items-center py-2">
                        Products List
                    </a>
                </li>
                <li class="mb-2">
                    <a href="#" class="flex items-center py-2">

                        Profile
                    </a>
                </li>
                <!-- Add more sidebar items as needed -->
            </ul>
        </div>
    </aside>

</div>